.text-align-center {
		text-align: center;
}

.outline {
    outline-style: dotted;
    outline-color: red;
}

.sans {
	font-family: Georgia;
}

#about-bg{
	background-color: #00ADFF;
	border-radius: 30px;
	padding: 20px 40px 20px 40px;
}