{% extends 'base.html' %}
{% load staticfiles %}


<style>
{% block style %}

.icon {
	color: black;
}

.pad {
	margin-left: 45px;
}

{% endblock %}
</style>

{% block content %}

<div class="row">
	<div class="col-sm-6 col-sm-offset-3">
		<h1 class="text-align-center">About Me</h1>
		</br>
		</br>
		<p>My name is Matt. I am a former student-athlete, turned coder, turned Data Scienctist</p>
		<p>Graduated from California Berkeley in 2014, Dev Bootcamp in Full Stack Development in 2015, and Udacity Machine Learning Engineer in 2016</p>
		<p>Contact me at: <strong>mevanoff24@gmail.com</strong></p>
		<div>Website Built in Django</div>
	</div>
</div>
<!-- <div class="row">
	<div class="col-sm-6 col-sm-offset-3">
			<div>
				<img class="img-responsive" src="{% static 'img/my_pic.jpg' %}">
			</div>
	</div>
</div> -->
</br>
</br>
<div class="row">
	<div class="col-sm-6 col-sm-offset-3">
		<a href="https://github.com/mevanoff24"><i class="fa fa-github fa-3x pad icon"></i></a>
		<a href="https://www.linkedin.com/in/mevanoff24"><i class="fa fa-linkedin-square fa-3x pad icon"></i></a>
		<a href="https://www.facebook.com/matt.evanoff"><i class="fa fa-facebook-square fa-3x pad icon"></i></a>
		<a href="https://plus.google.com/105700888878739499862/posts"><i class="fa fa-google-plus fa-3x pad icon"></i></a>
		<a href="https://twitter.com/MattEvanoff24"><i class="fa fa-twitter fa-3x pad icon"></i></a>
		<a href="https://angel.co/matt-evanoff"><i class="fa fa-angellist fa-3x pad icon"></i></a>
	</div>
</div>

{% endblock %}