{% extends 'base.html' %}
{% load staticfiles %}


<style>
{% block style %}

.icon {
	color: black;
}

.pad {
	margin-left: 45px;
}

{% endblock %}
</style>

{% block content %}

<div class="row">
	<div class="col-sm-6 col-sm-offset-3">
		<h1 class="text-align-center">Me in 30 Seconds</h1>
		</br>
		</br>
		<p></p>
		<p></p>
		<p>"My name is Matt. I am a former student-athlete, turned coder, turned Data Scienctist. In the past few years I have graduated from California Berkeley (Business and American Studies), Dev Bootcamp (Full Stack Development), and Udacity (Machine Learning Engineer).</p> 

		<p>I am a Data Scientist, Data Engineer specialist with experience in both programming and data mining. Expertise in predictive analysis and identifying and solving business related problems. I am self-motivated team player with excellent communication skills.</p>

		<p>I live by one simple rule. Give 100% effort or don't do it at all. This personal promise to myself has changed my life and has taught me that passion ultimately drives my goals.”</p>

		<p class="text-align-center">Contact me at: <strong>mevanoff24@gmail.com</strong></p>
		<div class="text-align-center"><i>Website: Built in Django</i></div>
	</div>
</div>
<!-- <div class="row">
	<div class="col-sm-6 col-sm-offset-3">
			<div>
				<img class="img-responsive" src="{% static 'img/my_pic.jpg' %}">
			</div>
	</div>
</div> -->
</br>
</br>
<div class="row">
	<div class="col-sm-6 col-sm-offset-3">
		<a href="https://github.com/mevanoff24"><i class="fa fa-github fa-3x pad icon"></i></a>
		<a href="https://www.linkedin.com/in/mevanoff24"><i class="fa fa-linkedin-square fa-3x pad icon"></i></a>
		<a href="https://www.facebook.com/matt.evanoff"><i class="fa fa-facebook-square fa-3x pad icon"></i></a>
		<a href="https://plus.google.com/105700888878739499862/posts"><i class="fa fa-google-plus fa-3x pad icon"></i></a>
		<a href="https://twitter.com/MattEvanoff24"><i class="fa fa-twitter fa-3x pad icon"></i></a>
		<a href="https://angel.co/matt-evanoff"><i class="fa fa-angellist fa-3x pad icon"></i></a>
	</div>
</div>

{% endblock %}