{% extends 'base.html' %}
{% load crispy_forms_tags %}

<style>
{% block style %}

.icon {
	color: black;
}

.pad {
	margin-left: 45px;
}

{% endblock %}
</style>


{% block content %}



<div class="row">
	<div class="col-sm-6 col-sm-offset-3">
		{% if title %}
	<div class="col-sm-12 col-sm-offset-3">
		<h1>{{ title }}</h1>
</div>
{% endif %}

		<form method="POST" action="">{% csrf_token %}
			{{ form|crispy }}
			<input class="btn btn-default" type="submit" value="Submit"/>
		</form>
	</div>
</div>

</br>
</br>
<div class="row">
	<div class="col-sm-6 col-sm-offset-3">
		<a href="https://github.com/mevanoff24"><i class="fa fa-github fa-3x pad icon"></i></a>
		<a href="www.linkedin.com/in/mevanoff24"><i class="fa fa-linkedin-square fa-3x pad icon"></i></a>
		<a href="https://www.facebook.com/matt.evanoff"><i class="fa fa-facebook-square fa-3x pad icon"></i></a>
		<a href="https://plus.google.com/105700888878739499862/posts"><i class="fa fa-google-plus fa-3x pad icon"></i></a>
		<a href="https://twitter.com/MattEvanoff24"><i class="fa fa-twitter fa-3x pad icon"></i></a>
		<a href="https://angel.co/matt-evanoff"><i class="fa fa-angellist fa-3x pad icon"></i></a>
	</div>
</div>
{% endblock %}