{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block head_title %} Welcome | {% endblock %}

<style>
{% block style %}
.jumbotron {
	background-color: #00ADFF;
	color: #FFF;
}

.pad {
	margin-left: 45px;
}

.navbar-static-top {
	margin-bottom: 0px !important;
}

.icon {
	color: white;
}

.btn-primary {
    color: #fff;
    background-color: #0000FF;
    border-color: #2e6da4;
}

{% endblock %}
</style>

{% block jumbotron %}
<div class="jumbotron">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<!-- Main component for a primary marketing message or call to action -->
				<h1>Data Scientist</h1>
				<p>Hi I'm Matt Evanoff and I built this site to show off my work</p>
				<p>I am a back-end developer, future data scientist, and I live by one simple rule. Give 100% effort or don't do it at all. This personal promise to myself has changed my life and has taught me that passion ultimately drives my goals.</p>
				<p>
					<a class="btn btn-lg btn-primary" href="{% url 'projects' %}" role="button">Projects &raquo;</a>
				</p>
			</div>
			<div class="col-sm-6">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/6exjyLxSFrc" frameborder="0" allowfullscreen></iframe>
				<!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/ZmAFMNmSKus" frameborder="0" allowfullscreen></iframe> -->
				<p></p>
				<a href="https://github.com/mevanoff24"><i class="fa fa-github fa-3x pad icon"></i></a>
				<a href="www.linkedin.com/in/mevanoff24"><i class="fa fa-linkedin-square fa-3x pad icon"></i></a>
				<a href="https://www.facebook.com/matt.evanoff"><i class="fa fa-facebook-square fa-3x pad icon"></i></a>
				<a href="https://plus.google.com/105700888878739499862/posts"><i class="fa fa-google-plus fa-3x pad icon"></i></a>
				<a href="https://twitter.com/MattEvanoff24"><i class="fa fa-twitter fa-3x pad icon"></i></a>
				<a href="https://angel.co/matt-evanoff"><i class="fa fa-angellist fa-3x pad icon"></i></a>
			</div>
		</div>
	</div>
</div>
{% endblock %}


{% block content %}



<div class="row">
	<div class="col-sm-3">
		<p class="lead text-align-center">Data Wrangling</p>
		<p class="text-align-center">
		<i class="fa fa-database fa-5x"></i>
		</p>
	</div>

	<div class="col-sm-3">
		<p class="lead text-align-center">Machine Learning</p>
		<p class="text-align-center">
		<i class="fa fa-cogs fa-5x"></i>
		</p>
	</div>

	<div class="col-sm-3 ">
		<p class="lead text-align-center">Exploratory Data Analysis</p>
		<p class="text-align-center">
		<i class="fa fa-picture-o fa-5x"></i>
		</p>
	</div>

	<div class="col-sm-3">
		<p class="lead text-align-center">Visualization</p>
		<p class="text-align-center">
		<i class="fa fa-bar-chart fa-5x"></i>
		</p>
	</div>

</div> 


{% endblock %}



