{% load staticfiles %}    
    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'home' %}">Profile</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
            <li><a href="{% url 'resume' %}">Resume</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Projects <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'projects' %}">All Projects</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Projects</li>
                <li><a href="{% url 'sfcrime' %}">SF Crime</a></li>
                <li><a href="{% url 'customersegmentation' %}">Customer Segmentation</a></li>
                <li><a href="{% url 'nycsubway' %}">NYC Subway</a></li>
                <li><a href="https://github.com/mevanoff24/DataScience/tree/master/TwitterSentimentAnalysis">Twitter Sentiment</a></li>
                <li><a href="{% url 'customersegments' %}">Customer Segments</a></li>
                <li><a href="{% url 'pitchprediction' %}">Pitch Prediction</a></li>
                <li><a href="{% url 'enron' %}">Enron</a></li>
                <li><a href="{% url 'stockanalysis' %}">Stock Analysis</a></li>
                <li><a href="https://github.com/mevanoff24/DataScience/tree/master/MovieRecommendation">Movie Recommendation</a></li>
              </ul>
            </li>
          </ul>
          
          <ul class="nav navbar-nav navbar-right">
            {% if request.user.is_authenticated %}
            <li><a href="{% url 'account_logout' %}">Logout</a></li>
            {% else %}
            <li><a href="{% url 'account_signup' %}">Register</a></li>
            {% endif %}
          </ul>
          {% if not request.user.is_authenticated and not '/accounts/login' in request.get_full_path %}
          <form class="navbar-form navbar-right" method="POST" action="{% url 'account_login' %}">
            <div class="form-group"></div>
            <input type="hidden" name="csrfmiddlewaretoken" value="CktvI9B9ZflRlLEeiDHD54n8OtMBgn8P">{% csrf_token %}
            
          <div id="div_id_login" class="form-group"> 
            <div class="controls "> 
              <input autofocus="autofocus" class="textinput textInput form-control" id="id_login" name="login" placeholder="Username" type="text"> 
            </div> 
          </div> 
          <div id="div_id_password" class="form-group"> 
            <div class="controls "> 
              <input class="textinput textInput form-control" id="id_password" name="password" placeholder="Password" type="password"> 
            </div> 
          </div> 
            <button class="primaryAction btn btn-default" type="submit">Login</button>
          </form>
          {% endif %}

        </div>
      </div>
    </nav>