{% extends 'base.html' %}
{% load staticfiles %}

<style>
{% block style %}

.project {
	border-style: ridge;
	border-color: #00ADFF;
	border-width: 5px;
	border-radius: 10px;
	background-color: #E0DADA;
}

{% endblock %}
</style>


{% block content %}

<h1 class='text-align-center'>Top Projects</h1>

</br>
</br>

<div class="container">
	<div class="row">
		<div class="col-sm-4">
			<div class='text-align-center project'>
				</br>
				<a href="{% url 'sfcrime' %}"<i class="fa fa-map-o fa-5x"></i>
				<h2 class='text-align-center'>San Francisco Crime</h2></a>
				<div>Perform exploratory data analysis and predict the category of crime that occurred in the city by the bay.</div>
				<div>----------------------------------------</div>
				<div>Python, Advanced EDA, Advanced Machine Learning, Stats, Ensemble Learning, Data Mining, Feature Extraction, Scikit-learn, Pandas, Visualization</div>
			</div>
		</div>

		<div class="col-sm-4">
			<div class='text-align-center project'>
				</br>
				<a href="{% url 'customersegmentation' %}"<i class="fa fa-university fa-5x"></i>
				<h2 class='text-align-center'>Customer Segmentation</h2></a>
				<div>We are having a problem with customers leaving our bank. We need to find out why. Determine which factors influence customer churn.</div>
				<div>----------------------------------------</div>
				<div>Python, Bayesian Inference, Stats, Custom A/B Tests, Data Mining, Modeling</div>
			</div>
		</div>

		<div class="col-sm-4">
			<div class='text-align-center project'>
				</br>
				<a href="{% url 'nycsubway' %}"<i class="fa fa-subway fa-5x"></i>
				<h2 class='text-align-center'>NYC Subway</h2></a>
				<div>Analyizing NYC Subway data taken in May, 2011. Answeing the question: Do more people ride the subway when it is raining versus when it is not raining?</div>
				<div>----------------------------------------</div>
				<div>R, Data Wrangling, Exploratory Data Analysis, Statistical Tests, Model Performance, JavaScript D3</div>
			</div>
		</div>

	</div>
</div>

</br>
</br>

<div class="container">
	<div class="row">

		<div class="col-sm-4">
			<div class='text-align-center project'>
				</br>
				<a href="https://github.com/mevanoff24/DataScience/tree/master/TwitterSentimentAnalysis"<i class="fa fa-bar-chart fa-5x"></i>
				<h2 class='text-align-center'>Twitter Sentiment</h2></a>
				<div>Built an ensemble Sentiment Analysis tool which classifies tweets as positive or negative using the Twitter REST API. Live updating real time graph of the current sentiment trend.</div>
				<div>----------------------------------------</div>
				<div>Python, NLTK, Sklearn, Ensemble Voting, Twitter API, Real Time Analysis, Live Updating Graph</div>
			</div>
		</div>

		<div class="col-sm-4">
			<div class='text-align-center project'>
				</br>
				<a href="{% url 'customersegments' %}"<i class="fa fa-pie-chart fa-5x"></i>
				<h2 class='text-align-center'>Customer Segments</h2></a>
				<div>Analyzed annual spending amounts for internal structure to understand the variation in the different types of customers that a wholesale distributor interacts with.</div>
				<div>----------------------------------------</div>
				<div>Python, Pandas, Feature Transformation, Sklearn, PCA, ICA, Clustering, Recommendations</div>
			</div>
		</div>

		<div class="col-sm-4">
			<div class='text-align-center project'>
				</br>
				<a href="{% url 'pitchprediction' %}"<i class="fa fa-newspaper-o fa-5x"></i>
				<h2 class='text-align-center'>Pitch Prediction</h2></a>
				<div>Predict the next pitch a pitcher will throw by incorporating information that is available to a batter such as the count, the current game state, pitcher’s tendency, etc.</div>
				<div>----------------------------------------</div>
				<div>Python, Pandas, Web Scraping, Machine Learning, Feature Creating, Sklearn, Clustering</div>
			</div>
		</div>
		
	</div>
</div>

</br>
</br>

<div class="container">
	<div class="row">

		<div class="col-sm-4">
			<div class='text-align-center project'>
				</br>
				<a href="{% url 'enron' %}"<i class="fa fa-briefcase fa-5x"></i>
				<h2 class='text-align-center'>Enron</h2></a>
				<div>Flag individuals at Enron who look like they should be persons of interest in the Federal fraud investigation that resulted when the company went bankrupt</div>
				<div>----------------------------------------</div>
				<div>Python, Sklearn, Machine Learning, Feature Extraction, Pandas, Classification Metrics, Model Tuning</div>
			</div>
		</div>

		<div class="col-sm-4">
			<div class='text-align-center project'>
				</br>
				<a href="{% url 'stockanalysis' %}"<i class="fa fa-line-chart fa-5x"></i></i>
				<h2 class='text-align-center'>Stock Analysis</h2></a>
				<div>Handmade Stock Analysis plot. With Matplotlib create the typical stock analysis plot with candlestick, rolling means, MACD, RSI, and Volume plots.</div>
				<div>----------------------------------------</div>
				<div>Python, Plotting, Advanced Matplotlib, Pandas IO, Numpy, Custom Visulization</div>
			</div>
		</div>

		<div class="col-sm-4">
			<div class='text-align-center project'>
				</br>
				<a href="https://github.com/mevanoff24/DataScience/tree/master/MovieRecommendation"<i class="fa fa-file-video-o fa-5x"></i>
				<h2 class='text-align-center'>Movie Recommendation</h2></a>
				<div>Scalable Item-based collaboritve filter algorithm computing similarity between movies using Big Data. Recommed movies based on previous watched movies.</div>
				<div>----------------------------------------</div>
				<div>Apache Spark, Big Data, Python, MLLib, ALS</div>
			</div>
		</div>

	</div>
</div>

{% endblock %}