{% extends 'base.html' %}
{% load staticfiles %}

{% block head_title %} Resume | {% endblock %}

{% block content %}

<h1>Resume</h1>
<!-- 
<iframe width="800" height="1200" src="https://docs.google.com/document/d/1wqEC4m_l1n9ZT8dMA0fbSjMpEznWV-mJo9xj6gplm6c/pub?embedded=true"></iframe> -->
<!-- <iframe width="800" height="1200" src="https://docs.google.com/document/d/1g5LlJIHI-YTyNgrv_NUS_47yWC8e604-wkul_MVoZGY/pub?embedded=true"></iframe> -->
<iframe width="800" height="1200" src="https://docs.google.com/document/d/1g5LlJIHI-YTyNgrv_NUS_47yWC8e604-wkul_MVoZGY/pub?embedded=true"></iframe>

{% endblock %}